# Ejercicio 49
Si decimos que un usuario sabe un idioma cuando tiene un nivel de babel mayor o
igual a 1, para aquellos que editaron una de las versiones actuales del contenido,
¿Cuál es la tasa de revisiones sin comentario que realizan en función de los idiomas
que saben?

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
dfLanguages = pd.read_csv('./WikipediaDataset/languages.csv')
dfContents = pd.read_csv('./WikipediaDataset/contents.csv', usecols = ["revisor_id", "revisor_comment"])

In [2]:
dfLanguages

       babel_user  babel_lang babel_level
0         4502458          FR           2
1         5928200          aa           0
2           46918          ab           0
3         2050449          ab           1
4         4715583         ace           0
...           ...         ...         ...
35661     2089885  zh-Hant-HK           1
35662     2089885  zh-Hant-TW           3
35663     5036533          zu           0
35664     5928200          zu           0
35665       87482         zza           N

[35666 rows x 3 columns]

In [3]:
dfLanguages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35666 entries, 0 to 35665
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   babel_user   35666 non-null  int64
 1   babel_lang   35662 non-null  object
 2   babel_level  35666 non-null  object
dtypes: int64(1), object(2)
memory usage: 836.0+ KB

In [4]:
dfLanguages = dfLanguages[dfLanguages['babel_lang'].notna()]
dfLanguages["babel_level"] = dfLanguages["babel_level"].replace("N", 4.5)

In [5]:
dfLanguages.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35662 entries, 0 to 35665
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   babel_user   35662 non-null  int64
 1   babel_lang   35662 non-null  object
 2   babel_level  35662 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [6]:
dfLanguages["babel_level"] = dfLanguages["babel_level"].astype(str).astype(float)
dfLanguages.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35662 entries, 0 to 35665
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   babel_user   35662 non-null  int64
 1   babel_lang   35662 non-null  object
 2   babel_level  35662 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB

In [7]:
dfLanguages = dfLanguages.loc[dfLanguages["babel_level"] >= 1].reset_index(drop = True)
dfLanguages

       babel_user  babel_lang  babel_level
0         4502458          FR          2.0
1         2050449          ab          1.0
2         4494742         acf          1.0
3           70090          af          1.0
4          407454          af          1.0
...           ...         ...          ...
34567     5915818  zh-Hans-CN          4.5
34568     2089885     zh-Hant          4.0
34569     2089885  zh-Hant-HK          1.0
34570     2089885  zh-Hant-TW          3.0
34571       87482         zza          4.5

[34572 rows x 3 columns]

In [8]:
dfLanguages["cant_idiomas"] = dfLanguages.groupby("babel_user")["babel_lang"].transform("count")
dfLanguages

       babel_user  babel_lang  babel_level  cant_idiomas
0         4502458          FR          2.0             3
1         2050449          ab          1.0             7
2         4494742         acf          1.0            10
3           70090          af          1.0             6
4          407454          af          1.0             8
...           ...         ...          ...           ...
34567     5915818  zh-Hans-CN          4.5             2
34568     2089885     zh-Hant          4.0            10
34569     2089885  zh-Hant-HK          1.0            10
34570     2089885  zh-Hant-TW          3.0            10
34571       87482         zza          4.5             7

[34572 rows x 4 columns]

In [9]:
dfLanguages.drop_duplicates(subset = ["babel_user"], inplace = True, ignore_index = True)

In [10]:
dfLanguages.rename(columns = {'babel_user': 'id_usuario'}, inplace = True)
dfLanguages.head()

   id_usuario babel_lang  babel_level  cant_idiomas
0     4502458         FR          2.0             3
1     2050449         ab          1.0             7
2     4494742        acf          1.0            10
3       70090         af          1.0             6
4      407454         af          1.0             8

In [11]:
dfLanguages = dfLanguages.loc[:, ["id_usuario", "cant_idiomas"]]
dfLanguages

       id_usuario  cant_idiomas
0         4502458             3
1         2050449             7
2         4494742            10
3           70090             6
4          407454             8
...           ...           ...
10804     1969170             1
10805     3472877             1
10806     4237402             1
10807     6114870             1
10808     3114649             1

[10809 rows x 2 columns]

In [12]:
dfContents

         revisor_id                                    revisor_comment
0         1708233.0                                     Así esta mejor
1               NaN                                   Añadir contenido
2         4642283.0  Reemplazos con [[Usuario:Benjavalero/Replacer|...
3         5338508.0  Reemplazos con [[Usuario:Benjavalero/Replacer|...
4         3615366.0  Correcciones ortográficas con [[Usuario:Benjav...
...             ...                                                ...
4132159    474907.0  termino traducción y quito plantilla en desarr...
4132160   4032712.0  Crls9011 trasladó la página [[Manifestación de...
4132161    158577.0  Gabriel Solo trasladó la página [[Rocasaurus]]...
4132162   5429951.0  Términus trasladó la página [[Medalla Conmemor...
4132163     86975.0  Añadiendo la [[Categoría:Localidades de Tripur...

[4132164 rows x 2 columns]

In [13]:
dfContents = dfContents[dfContents['revisor_id'].notna()]

In [14]:
dfContents.rename(columns = {'revisor_id': 'id_usuario'}, inplace = True)
dfContents.head()

   id_usuario                                    revisor_comment
0   1708233.0                                     Así esta mejor
2   4642283.0  Reemplazos con [[Usuario:Benjavalero/Replacer|...
3   5338508.0  Reemplazos con [[Usuario:Benjavalero/Replacer|...
4   3615366.0  Correcciones ortográficas con [[Usuario:Benjav...
5    689866.0  Correcciones ortográficas con [[Usuario:Benjav...

In [15]:
dfMerge = pd.merge(dfLanguages, dfContents, how = "inner", on = ["id_usuario"])
dfMerge

,id_usuario,cant_idiomas,revisor_comment
0,4494742,10,NaN
1,4494742,10,NaN
2,407454,8,Redirigiendo a [[Marta Luisa de Noruega]]
3,433975,12,Maisonneuve movió la página [[Luiz Edmundo Per...
4,5443256,5,NaN
...,...,...,...
824422,3472877,1,Lackope trasladó la página [[Categoría:Futboli...
824423,3472877,1,/* Referencias */
824424,3472877,1,/* Referencias */
824425,3472877,1,Lackope trasladó la página [[Cerrcë]] a [[Crnce]]
824426,3472877,1,Lackope trasladó la página [[Catedral serbia o...

In [16]:
dfMerge.groupby("id_usuario")["revisor_comment"].count()

id_usuario
30         32
38         10
311         1
322        10
373         1
           ..
6306637     0
6315666     9
6318249     2
6327193     1
6331490     0
Name: revisor_comment, Length: 4631, dtype: int64

In [17]:
dfMerge.groupby("id_usuario")["revisor_comment"].count()

id_usuario
30         32
38         10
311         1
322        10
373         1
           ..
6306637     0
6315666     9
6318249     2
6327193     1
6331490     0
Name: revisor_comment, Length: 4631, dtype: int64

In [18]:
dfMerge["revisiones_con_comentario"] = dfMerge.groupby("id_usuario")["revisor_comment"].transform("count")
dfMerge["revisiones_totales"] = dfMerge.groupby("id_usuario")["revisor_comment"].transform("size")
dfMerge.drop_duplicates(subset = ["id_usuario"], inplace = True, ignore_index = True)
dfMerge["tasa_revisiones_sin_comentario/revisiones_totales"] = (dfMerge["revisiones_totales"] - dfMerge["revisiones_con_comentario"])/dfMerge["revisiones_totales"] 
dfMerge

,id_usuario,cant_idiomas,revisor_comment,revisiones_con_comentario,revisiones_totales,tasa_revisiones_sin_comentario/revisiones_totales
0,4494742,10,NaN,0,2,1.000000
1,407454,8,Redirigiendo a [[Marta Luisa de Noruega]],1,1,0.000000
2,433975,12,Maisonneuve movió la página [[Luiz Edmundo Per...,1,1,0.000000
3,5443256,5,NaN,0,2,1.000000
4,188693,11,[[Henrique Salas-Römer]] trasladada a [[Henriq...,33,46,0.282609
...,...,...,...,...,...,...
4626,17136,1,NaN,15,505,0.970297
4627,176773,1,[[Tigres de la Angelopolis]] trasladada a [[Ti...,1,1,0.000000
4628,1719007,1,Redirigir a título español,11,11,0.000000
4629,1795722,1,Redirigiendo a «[[Hijo del Hombre]]»,2,2,0.000000
4630,3472877,1,NaN,7,16,0.562500

In [19]:
dfMerge = dfMerge.loc[:, ["id_usuario", "cant_idiomas", "tasa_revisiones_sin_comentario/revisiones_totales"]]
dfMerge

,id_usuario,cant_idiomas,tasa_revisiones_sin_comentario/revisiones_totales
0,4494742,10,1.000000
1,407454,8,0.000000
2,433975,12,0.000000
3,5443256,5,1.000000
4,188693,11,0.282609
...,...,...,...
4626,17136,1,0.970297
4627,176773,1,0.000000
4628,1719007,1,0.000000
4629,1795722,1,0.000000
4630,3472877,1,0.562500